= simple_form_for @car do |f|
  = f.error_notification
  = f.association :manufacturer, wrapper_html: { class: 'form-group'}
  = f.input :color, wrapper_html: { class: 'form-group'}
  = f.input :year, wrapper_html: { class: 'form-group'}
  = f.input :mileage, wrapper_html: { class: 'form-group'}
  = f.input :description, wrapper_html: { class: 'form-group'}, as: :text
  = f.submit 'Add Car',  class: 'btn btn-default'
